.sign-up {
    max-width: 400px;
    margin: 0 auto;

    .title {
        text-align: center;
        font-size: 1.5rem;
        color: #233a48;
    }

    .sign-up-error {
        height: 24px;
        text-align: center;
        color: #df2e2e;
    }
}
